*

!.gitignore

!btop/
#!btop/**

cava/config
!cava/**

!fastfetch/
!fastfetch/*

!fontconfig/
!fontconfig/**

!hypr/
!hypr/**

!hypr/conf/

!kitty/
!kitty/**

!niri/
!niri/**

!spicetify/
!spicetify/Themes

!vesktop/
!vesktop/settings/
!vesktop/settings/**

!wal/
#!wal/**

!waybar/
!waybar/**

waypaper/config.ini
!waypaper/**

!rofi/
!rofi/**

!wofi/
!wofi/**

!readme.md

wlogout