@import "theme.css";

* {
  font-family: "0xProto Nerd Font";
  font-weight: bold;
  font-size: 14px;
  color: @main-fg;
}

/*------------------------
	per-module styling
------------------------*/

/* group-power_profiles / power-profiles */

#power-profiles-daemon {
  font-size: 12px;
  color: @accent;
  background-color: @main-bg;
}

#tray {
  background-color: @main-bg;
}

#custom-right_div.9 {
  color: @main-bg;
  margin-right: 16px;
}

#custom-left_div.10 {
  color: @main-bg;
  margin-left: 8px;
}

/* #custom-user { */
/* 	background-color: @main-bg; */
/* 	padding-right: 12px; */
/* 	font-weight: normal; */
/* } */

/* workspaces */
#custom-left_div.1,
#custom-right_div.1 {
  color: @workspaces;
}

#workspaces {
  padding: 0px 7px;
  background-color: @workspaces;
}

button {
  border-radius: 16px;
  padding: 0px 6px;
  margin: 0px 2px;
  background-color: @main-bg;
  color: @main-bg;
}

button:hover {
  background-color: white;
  color: @main-bg;
  padding: 0px 6px;
}

button.active label {
  background-color: @main-bg;
  color: @accent;
  padding: 0px 4px;
  border-radius: 50px;
}

/* window and window count */

#window {
  margin-left: 12px;
}

#window label {
  font-weight: normal;
}

#windowcount {
  margin-right: 12px;
}

#windowcount label {
  color: @main-fg;
}

/* temperature */

#custom-left_div.2 {
  color: @temperature;
}

#temperature,
#custom-temperature {
  background-color: @temperature;
}

/* memory */

#custom-left_div.3 {
  background-color: @temperature;
  color: @memory;
}

#memory {
  background-color: @memory;
}

/* cpu */

#custom-left_div.4 {
  background-color: @memory;
  color: @cpu;
}

#cpu {
  background-color: @cpu;
}

/* distro */

#custom-left_div.5,
#custom-right_div.2 {
  color: @accent;
}

#custom-distro {
  padding: 0 10px 0 5px;
  font-size: 18px;
  background-color: @accent;
  color: @main-bg;
}

/* idle inhibitor and time */

#idle_inhibitor {
  background-color: @time;
}

#clock.time {
  padding-right: 6px;
  background-color: @time;
}

#custom-right_div.3 {
  background-color: @date;
  color: @time;
}

/* date */

#clock.date {
  padding-left: 6px;
  background-color: @date;
}

#custom-right_div.4 {
  background-color: @tray;
  color: @date;
}

/* tray */

#network {
  background-color: @tray;
  padding: 0 6px 0 4px;
}

#bluetooth {
  background-color: @tray;
  padding: 0 5px;
}

#custom-system_update {
  background-color: @tray;
  padding: 0 8px 0 2px;
}

#custom-right_div.5 {
  color: @tray;
}

/* mpris */

#mpris {
  padding: 0 12px;
  font-weight: normal;
}

/* group-wireplumber */

#custom-left_div.6 {
  color: @wireplumber;
}

#wireplumber {
  background-color: @wireplumber;
}

/* backlight */

#custom-left_div.7 {
  background-color: @wireplumber;
  color: @backlight;
}

#backlight {
  background-color: @backlight;
}

/* battery */

#custom-left_div.8 {
  background-color: @backlight;
  color: @battery;
}

#battery {
  background-color: @battery;
}

/* power menu */

#custom-toggle_theme {
  border-radius: 16px;
  padding: 0 19px 0 16px;
  margin-right: 8px;
  font-size: 12px;
  color: @main-fg;
  background-color: @main-bg;
}

#custom-toggle_theme:hover {
  background-color: @hover-bg;
}

/*---------------------
	general styling
---------------------*/

#power-profiles-daemon:hover,
#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#wireplumber:hover {
  color: @hover-fg;
}

.warning {
  color: @warning;
}

.critical {
  color: @critical;
}

.charging {
  color: @charging;
}

.muted {
  color: @hover-fg;
}

/* outline */
window#waybar {
  background-color: @outline;
}

/* background */
window#waybar > box {
  margin: 4px;
  background-color: transparent;
}

tooltip {
  border: 2px solid @main-br;
  border-radius: 10px;
  background-color: @main-bg;
}

tooltip label {
  margin: 2px 4px;
  font-weight: normal;
}

tooltip decoration {
  border: none;
  background-color: transparent;
}

/* Reduce module height */
#clock.time,
#clock.date,
#temperature,
#custom-temperature {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 0;
}

#custom-left_inv.1 {
  color: @cpu;
}

#custom-right_inv.1 {
  /* font-size:29px; */
  color: @time;
}

#custom-left_inv.2 {
  /* font-size:29px; */
  color: @battery;
}

/* #custom-left_inv { */
/* 	font-size:29px; */
/* } */

#custom-left_inv,
#custom-right_inv {
  font-size: 23px;
}

#custom-left_div,
#custom-right_div {
  font-size: 23px;
}

#custom-icon{
  font-size: 20px;
  background-image: url('/home/sun/.face');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}